# Server
PORT=5000
NODE_ENV=development

# Database
MONGODB_URI=localhost:27017

# Frontend URL
FRONTEND_URL=http://localhost:3000

# JWT Secret
JWT_SECRET=your-jwt-secret-key-here

# Email Configuration (Nodemailer)
# For Gmail: smtp.gmail.com, port: 587
# For Outlook: smtp-mail.outlook.com, port: 587
# For Yahoo: smtp.mail.yahoo.com, port: 587
# For Custom SMTP: your-smtp-server.com, port: 587 or 465
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=veninderindiit@gmail.com
SMTP_PASS=iath chdk lbuq tirl 
EMAIL_FROM="Fieldsy <noreply@fieldsy.com>"
EMAIL_FROM_NAME=Fieldsy

# Stripe (for future use)
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# AWS S3
S3_BASE_URL=https://fieldsy.s3.us-east-1.amazonaws.com
S3_BUCKET_NAME=fieldsy
S3_REGION=us-east-1